@model WebApp.Models.Index.MvcDto.RefundMvcDto



@{
    ViewData["Title"] = "Create";
}

<h1>@Base.Resources.Common.CreateButton</h1>

<h4>@Base.Resources.Common.Refund</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderProductId" class="control-label"></label>
                <select asp-for="OrderProductId" class ="form-control" asp-items="ViewBag.OrderProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RefundAmount" class="control-label"></label>
                <input asp-for="RefundAmount" class="form-control" />
                <span asp-validation-for="RefundAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefundReason" class="control-label"></label>
                <input asp-for="RefundReason" class="form-control" />
                <span asp-validation-for="RefundReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefundStatus" class="control-label"></label>
                <input asp-for="RefundStatus" class="form-control" />
                <span asp-validation-for="RefundStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Base.Resources.Common.CreateButton" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Base.Resources.Common.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
